@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team__image {
  width: 100%;
}

.hero {
  padding: 2em 1.25em;
  position: relative;
  display: flex;
  justify-content: center;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  bottom: -25%;
  left: 0;
  z-index: -1;
  filter: brightness(0.85);
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 32em;
}
.hero__image_container {
  display: flex;
  justify-content: center;
}
.hero__image {
  width: 80%;
}
.hero__heading {
  font-family: "Raleway", "Arial";
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.75em;
}
.hero__paragraph {
  text-align: center;
  color: hsl(0deg, 0%, 85%);
}
.hero__ref {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  padding: 1em;
  background-image: linear-gradient(90deg, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  width: 15em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
  font-family: "Raleway", "Arial";
  font-weight: 700;
  filter: brightness(1);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.hero__ref:hover {
  filter: brightness(1.15);
}
.hero__ref:active {
  filter: brightness(0.85);
}

@media screen and (min-width: 680px) {
  .hero {
    font-size: 22px;
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    font-size: 25px;
  }
}
.header {
  height: 6em;
  display: flex;
  align-items: center;
  padding: 2em 1.25em;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.header__logo_container {
  display: flex;
}
.header__logo {
  width: 5em;
  cursor: pointer;
}
.header__links {
  display: flex;
  list-style: none;
  display: flex;
  gap: 1em;
}
.header__link > a {
  color: hsl(0deg, 0%, 85%);
  text-decoration: none;
  font-weight: 400;
  font-family: "Open Sans", "sans-serif";
  font-size: 1em;
  position: relative;
}
.header__link > a::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 3px;
  background-color: cyan;
  bottom: -0.5em;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.header__link > a:hover::before {
  width: 100%;
}
.header__link > a:hover {
  color: white;
}

@media screen and (min-width: 680px) {
  .header {
    font-size: 22px;
    padding: 2em 3em;
  }
  .header__links {
    gap: 2em;
  }
}
@media screen and (min-width: 1080px) {
  .header {
    font-size: 25px;
  }
}
body {
  background-color: hsl(218deg, 28%, 13%);
  color: white;
  font-family: "Open Sans", "sans-serif";
}/*# sourceMappingURL=styles.css.map */