@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonials {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.testimonials__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.testimonials__wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  top: -3rem;
  left: 0;
}

.testimonial {
  position: relative;
  z-index: 2;
  background-color: hsl(219deg, 30%, 18%);
  padding: 1.5em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 25em;
}
.testimonial__quote {
  color: hsl(0deg, 0%, 85%);
  line-height: 1.75;
}
.testimonial__profile {
  display: flex;
  gap: 1em;
}
.testimonial__profile_ctx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial__profile_pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.testimonial__profile_name {
  font-size: 0.9em;
  font-family: "Raleway", "Arial";
}
.testimonial__profile_position {
  font-size: 0.75em;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  .testimonials {
    margin: 5em 0;
  }
  .testimonials__wrapper {
    flex-direction: row;
  }
}
.team {
  padding: 1.75em;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__wrapper {
  width: 100%;
  max-width: 25em;
}
.team__image {
  width: 100%;
}
.team__ctx {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  align-items: center;
}
.team__heading {
  text-align: center;
  font-family: "Raleway", "Arial";
}
.team__paragraph {
  color: hsl(0deg, 0%, 85%);
  line-height: 1.75;
}
.team__ref {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: hsl(176deg, 68%, 64%);
  position: relative;
  margin-right: auto;
  filter: brightness(1);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.team__ref::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: hsl(176deg, 68%, 64%);
  bottom: -0.45em;
}
.team__ref_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__ref:hover {
  filter: brightness(1.25);
}

@media screen and (min-width: 900px) {
  .team__image_container {
    display: flex;
    justify-content: center;
  }
  .team__image {
    width: 80%;
  }
  .team__wrapper {
    max-width: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .team__heading {
    margin-right: auto;
  }
}
@media screen and (min-width: 1080px) {
  .team {
    font-size: 22px;
  }
}
.hero {
  padding: 2em 1.25em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: hsl(217deg, 23%, 16%);
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  bottom: -25%;
  left: 0;
  z-index: 0;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 32em;
  position: relative;
  z-index: 1;
}
.hero__image_container {
  display: flex;
  justify-content: center;
}
.hero__image {
  width: 80%;
}
.hero__heading {
  font-family: "Raleway", "Arial";
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.75em;
  line-height: 1.75;
}
.hero__paragraph {
  text-align: center;
  color: hsl(0deg, 0%, 85%);
  line-height: 1.75;
}
.hero__ref {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  padding: 1em;
  background-image: linear-gradient(90deg, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  width: 15em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
  font-family: "Raleway", "Arial";
  font-weight: 700;
  filter: brightness(1);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.hero__ref:hover {
  filter: brightness(1.15);
}
.hero__ref:active {
  filter: brightness(0.85);
}

@media screen and (min-width: 680px) {
  .hero {
    font-size: 22px;
  }
}
@media screen and (min-width: 1080px) {
  .hero {
    font-size: 25px;
  }
  .hero::before {
    background-image: url("../images/bg-curvy-desktop.svg");
  }
}
.header {
  height: 6em;
  display: flex;
  align-items: center;
  padding: 2em 1.25em;
  justify-content: center;
  width: 100%;
  background-color: hsl(217deg, 23%, 16%);
}
.header__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo_container {
  display: flex;
}
.header__logo {
  width: 5em;
  cursor: pointer;
}
.header__links {
  display: flex;
  list-style: none;
  display: flex;
  gap: 1em;
}
.header__link > a {
  color: hsl(0deg, 0%, 85%);
  text-decoration: none;
  font-weight: 400;
  font-family: "Open Sans", "sans-serif";
  font-size: 1em;
  position: relative;
}
.header__link > a::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 3px;
  background-color: cyan;
  bottom: -0.5em;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.header__link > a:hover::before {
  width: 100%;
}
.header__link > a:hover {
  color: white;
}

@media screen and (min-width: 680px) {
  .header {
    font-size: 22px;
    padding: 2em 3em;
  }
  .header__links {
    gap: 2em;
  }
}
@media screen and (min-width: 1080px) {
  .header {
    font-size: 25px;
  }
}
.features {
  padding: 2em;
  display: flex;
  justify-content: center;
}
.features__wrapper {
  display: grid;
  gap: 2.5em;
}

.feature__menu {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.feature__icon {
  height: 5em;
}
.feature__heading {
  font-family: "Raleway", "Arial";
  font-weight: 700;
}
.feature__paragraph {
  font-weight: 400;
  color: hsl(0deg, 0%, 85%);
  text-align: center;
  line-height: 1.75;
}

@media screen and (min-width: 680px) {
  .features__wrapper {
    width: 100%;
    align-content: space-around;
    max-width: 50em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 1080px) {
  .features {
    font-size: 22px;
  }
}
body {
  background-color: hsl(218deg, 28%, 13%);
  color: white;
  font-family: "Open Sans", "sans-serif";
}/*# sourceMappingURL=styles.css.map */