.form
{
    position: relative;
    padding: 1em 0;
    display: flex;
    justify-content: center;

    &::before
    {
        content: '';
        width: 100%;
        height: 50%;
        background-color: $footer-bg;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    &__wrapper
    {
        background-color: $form-bg;
        margin: 1.5em;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: .5em;
        box-shadow: 3px 3px 10px 0px rgb(0 0 0 / 50%);
        width: 100%;
        max-width: 28.75em;
    }
    &__heading
    {
        font-size: 1.25em;
        font-family: $font-headings;
        margin: 1em 0;
    }
    &__paragraph
    {
        line-height: 1.75;
        color: $light-gray;
        font-size: 0.9em;
        text-align: center;
    }
    &__field
    {
        margin: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }
    &__input, &__submit
    {
        outline: none;
        border: none;
        padding: 1em 1.75em;
        border-radius: 1.5em;
        font-weight: 700;
        font-family: $font-headings;
    }
    &__input
    {
        color: $footer-bg;
    }
    &__submit
    {
        color: white;
        cursor: pointer;
        background-image: linear-gradient(90deg, $cyan, $blue);
        filter: brightness(1);
        @include animate;
        &:hover
        {
            filter: brightness(1.25);
        }
    }
}

@media screen and (min-width: 900px)
{
    .form
    {
        &__wrapper
        {
            max-width: 50em;
            padding: 2em 4em;
        }
        &__field
        {
            flex-direction: row;
        }
        &__input
        {
            flex: 3;
        }
        &__heading
        {
            font-size: 2em;
            margin: 0 0 .5em 0;
        }
    }
}