.team
{
    padding: 1.75em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__wrapper
    {
        width: 100%;
        max-width: 25em;
    }

    &__image
    {
        width: 100%;
    }
    &__ctx
    {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        align-items: center;
    }
    &__heading
    {
        text-align: center;
        font-family: $font-headings;
        &::selection
        {
            background-color: $blue;
            color: black;
        }
    }
    &__paragraph
    {
        color: $light-gray;
        line-height: 1.75;
        &::selection
        {
            background-color: $cyan;
            color: black;
        }
    }
    &__ref
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: $cyan;
        position: relative;
        margin-right: auto;
        filter: brightness(1);
        @include animate;
        &::before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $cyan;
            bottom: -.45em;
        }
        &_icon
        { 
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover
        {
            filter: brightness(1.25)
        }
        & > span::selection
        {
            background-color: $cyan;
            color: black;
        }
    }
}

@media screen and (min-width: 900px)
{
    .team
    {
        &__image_container
        {
            display: flex;
            justify-content: center;
        }
        &__image
        {
            width: 80%;
        }
        &__wrapper
        {
            max-width: 50em;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__heading
        {
            margin-right: auto;
        }
    }
}

@media screen and (min-width: $lg-bp)
{
    .team
    {
        font-size: 22px;
    }
}