$form-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$light-gray: hsl(0,0%,85%);
$testimonials-bg: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
$font-primary: 'Open Sans', 'sans-serif';
$font-headings: 'Raleway', 'Arial';
$md-bp: 680px;
$lg-bp: 1080px;
$max-res: 1240px;
$t-duration: 100ms;
$t-timing: ease-in-out;